<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" @click="logUserOut"> Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section>
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-12">
            <ul class="list-group">
              <li class="list-group-item">Name : {{ user.name }}</li>
              <li class="list-group-item">Email : {{ user.email }}</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div>
    <b-button variant="success" class="float-right" @click="addNewOperation"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-operation"
      ref="modal-form-operation"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Amount"
          label-for="amount"
          :invalid-feedback="invalidFeedbackAmount"
          :valid-feedback="validFeedbackAmount"
          :state="stateAmount"
        >
          <b-form-input
            id="amount"
            v-model="form.amount"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Type:"
          label-for="type"
          :invalid-feedback="invalidFeedbackType"
          :valid-feedback="validFeedbackType"
          :state="stateType"
        >
          <b-form-select
            id="type"
            v-model="form.type"
            :options="typeOptions"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table :items="operationList" :fields="fields"> </b-table>
    <div>
      <span>
        <h3>ยอดเงินคงเหลือ:  {{ clientBalance }}</h3>
      </span>
    </div>
  </div>
    </section>
  </div>
</template>
<script>
import axios from 'axios'
import VueJwtDecode from 'vue-jwt-decode'
export default {
  data () {
    return {
      title: 'ฝาก/ถอน',
      form: {
        _id: '',
        date: new Date().toJSON(),
        type: null,
        amount: 0
      },
      typeOptions: [
        { text: 'Select One', value: null },
        { value: 'Withdraw', text: 'Withdraw' },
        { value: 'Deposit', text: 'Deposit' }
      ],
      operationList: [],
      fields: ['date', 'type', 'amount'],
      user: {}
    }
  },
  methods: {
    resetModal () {
      this.form = {
        _id: '',
        date: new Date().toJSON(),
        type: null,
        amount: 0
      }
      this.title = 'ฝาก/ถอน'
    },
    addNewOperation () {
      // console.log('Add New Operation')
      this.$bvModal.show('modal-form-operation')
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check validate
      if (this.form.type === 'Withdraw' && this.form.amount > this.clientBalance) {
        return alert('please check your balance')
      }
      // Pass validation
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/operations', this.form)
          .then(res => {
            // console.log(res)
            this.getOperations()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/operations', this.form)
          .then(res => {
            // console.log(res)
            this.getOperations()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-operation')
      })
    },
    getOperations () {
      axios
        .get('http://localhost:3000/operations')
        .then(res => {
          // console.log(res)
          this.operationList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    // auth section meth
    getUserDetails () {
      let token = localStorage.getItem('jwt')
      let decoded = VueJwtDecode.decode(token)
      this.user = decoded
    },
    logUserOut () {
      localStorage.removeItem('jwt')
      this.$router.push('/')
    }
  },
  created () {
    this.getUserDetails()
  },
  computed: {
    clientBalance: function () {
      let clientBalance = 0
      for (let i = 0; i < this.operationList.length; i++) {
        if (this.operationList[i].type === 'Withdraw') {
          clientBalance -= this.operationList[i].amount
        } else {
          clientBalance += this.operationList[i].amount
        }
      }
      return clientBalance
    },
    stateAmount () {
      return this.form.amount > 0
    },
    invalidFeedbackAmount () {
      if (this.form.amount > 0) {
        return ''
      } else if (this.form.amount <= 0) {
        return 'ต้องใส่จำนวนเงินมากกว่า 0'
      } else {
        return 'ต้องใส่จำนวนเงิน'
      }
    },
    validFeedbackAmount () {
      return this.stateAmount === true ? 'สำเร็จ' : ''
    },
    stateType () {
      return this.form.type != null
    },
    invalidFeedbackType () {
      if (this.form.type != null) {
        return ''
      } else {
        return 'กรุณาเลือกรายการ'
      }
    },
    validFeedbackType () {
      return this.statetype === true ? 'สำเร็จ' : ''
    }
  },
  mounted () {
    // console.log('Vue component is mounted.')
    this.getOperations()
  }
}
</script>
<style scoped></style>
